page {
	background: skyblue;
	background-size: 100% 100%;
	// opacity:0.8;
}
.bg_img {
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
}
.page-content {
	touch-action: none;
	padding-top: 82upx;
	height: 100%;
	.imgBox {
		height: 278upx;
		width: 278upx;
		margin: auto;
		margin-bottom: 100upx;
		image {
			width: 100%;
			height: 100%;
		}
	}
	.input {
		margin: 0 58upx;
		input {
			padding: 29upx 0;
			padding-left: 12upx;
			border-bottom: 1upx solid #fff;
			font-size: 30upx;
			color: #fff;
		}
		.changePwd {
			width: 100%;
			text-align: right;
			margin-top: 35upx;
			color: #fff;
			font-size:30upx;
			margin-bottom: 61upx;
		}
	}
}

.login-but {
	width:633rpx;
	height:89rpx;
	margin: 0 auto;
	border: 1px solid #ffffff;
	border-radius:45upx;
	line-height: 89rpx;
	color: #fff;
	& + .login-but {
		margin-top: 40rpx;
	}
}
